* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

body {
  background: #20135c;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.view {
  position: relative;
}

.round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid #ed6480;
  position: absolute;
  top: 100px;
  left: 600px;
  box-shadow: 2px 2px 20px #f7bc7a;
}

.round_big {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #f7bc7a;
  position: absolute;
  top: 23;
  left: 10;
  box-shadow: 2px 2px 20px 7px #ed6480;
}

.square {
  width: 150px;
  height: 150px;
  border: 15px solid #5fb2ff;
  position: absolute;
  top: 400px;
  left: 580px;
  transform: rotate(40deg);
  box-shadow: 2px 2px 14px 3px #3887fe;
}

.square_min {
  width: 50px;
  height: 50px;
  border: 8px solid #3887fe;
  position: absolute;
  top: 200px;
  right: 160px;
  transform: rotate(10deg);
  box-shadow: 0px 0px 17px 3px #5fb2ff;
}

.triangle {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url(../public/triangre.svg) no-repeat center / cover;
  right: 25px;
  bottom: 95px;
  // animation: shake 0.4s infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); rotate: 80deg;}
  75% { transform: translateX(-5px); }
  100% { transform: translateX(5px); rotate: 0;}
}

.all {
  display: flex;
  gap: 150px;
  overflow: hidden;
  position: relative;
  color: white;
}

.form_data {
  width: 430px;
  height: 500px;
  border-radius: 8px;
  background: linear-gradient(180deg, #1e1156 0%, rgba(28, 35, 64, 0) 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 3, 32, 0.5);
  margin: 55px;
  padding: 10px 23px 20px 23px;

  .input-container {
    position: relative;
    margin-bottom: 20px;

    border-radius: 8px;
    background: #32395e;
    box-shadow: 0px 4px 20px 3px rgba(1, 143, 255, 0.15);
    // border-bottom: 2px solid #3887fe;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border: 2px solid #3887fe;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    padding: 4px 3px 4px 6px;

    .material-symbols-outlined {
      position: absolute;
      top: 1px;
      right: 1px;
    }
  }

  .lock {
    padding: 0 0 0 1px;
  }

  input {
    width: 100%;
    height: 58px;
    border-radius: 8px;
    background: #68719b52;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 0 15px 0 60px;
    color: white;
    font-size: 18px;

    &:focus {
      border-bottom: 2px solid #3887fe;
    }
  }

  .btn_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0 0 0;

    .btn {
      width: 105px;
      height: 42px;
      border: none;
      color: #949ec0;
      font-size: 16px;
      font-weight: 700;
      border-radius: 8px;
      background: linear-gradient(51deg, #2f3453 0%, #242845 97.79%);
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }

    .active {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      border-radius: 8px;
      background: linear-gradient(292deg,
          #3887fe 0%,
          #3ba0ff 49.72%,
          #5fb2ff 100%);
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    }
  }

  .forgot_password {
    margin: 20px 0 0 0;
    text-align: center;

    a {
      color: #5fb2ff;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      text-decoration-line: underline;
    }
  }
}

.title {
  color: #fff;
  text-shadow: 0px 4px 20px 0px rgba(1, 143, 255, 0.15);
  font-size: 40px;
  margin: 38px 0 68px 0px;
  text-align: center;
}

.form_data {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.form_data.flipped {
  transform: rotateY(180deg);
}

.thefront {
  opacity: 1;
  transition:
    opacity 0.5s ease,
    transform 0.6s ease;
}

.form_data.flipped .thefront {
  visibility: hidden;
  opacity: 0;
}

.theback {
  display: none;
  transform: rotateY(180deg);
  position: absolute;
  top: -3px;
  width: 90%;
  left: 23px;

  .title {
    margin: 20px 0 20px 0;
  }

  .btn_box {
    margin: 40px 0 0 0;
  }
}

.form_data.flipped .theback {
  display: block;
  transform: rotateY(180deg);
  opacity: 1;
  transition:
    opacity 0.5s ease,
    transform 0.6s ease;
}

.logo {
  .name_logo {
    text-align: center;
    color: #5fb2ff;
    text-shadow: 1px 1px 3px #3ba0ff;
    font-size: 30px;
    font-weight: 900;
    width: 14ch;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    padding: 20px 0px 10px 0px;
    margin: 200px 0 auto 138px;
    border-bottom: 2px solid #3ba0ff;
  }

  p {
    text-align: center;
    color: #fff;
    margin: 10px 0 20px 110px;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 3px;
  }
}